URxvt.font: xft:DejaVu Sans Mono:size=12
URxvt.scrollBar: false
URxvt.background: [70]#000000
URxvt.foreground: #ffffff

URxvt.perl-ext-common: default,matcher,vtwheel,resize-font

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
